$background: #faf3f2;
$red: #f43127;
$yellow: #f59a1b;
$title-black-38: rgba(29, 6, 5, 0.4);
$beige: #fae2cb;
$brown: #3b200b;
$title-black-87: #34201f;
$title-black-60: #635352;
$title-black-90: #1D0605E5;

$Lilita-one: "Lilita One";
$Lato: "Lato";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $background;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}
